@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
// @import "colors";

*{
    padding:0%;
    margin:0%;
}


body{
    overflow-x:hidden; //for animation
}